<?xml version="1.0"?>
<robot name="anchor" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="anchor" params="mode name type conf id pan_id">

    <xacro:include filename="$(find romea_rtls_transceiver_description)/urdf/transceiver.xacro" />

    <link name="support_${name}"/>
 
    <xacro:transceiver prefix="" mode="${mode}" name="${name}" type="${type}" conf="${conf}"
      id="${id}" pan_id="${pan_id}" control_mode="standalone" parent_link="support_${name}" xyz="0.0 0.0 0.0"
      ros_namespace="" />

    <gazebo reference="${name}_link">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

  </xacro:macro>

</robot>